.oauth-btn.google-btn {
    background-color: #db4437;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.oauth-btn.google-btn:hover {
    background-color: #c23321;
}
