/* Ensure the html and body cover the full viewport height */
html, body {
    /* height: 40vw; */
    margin: 0;
    padding: 0;
    background-color: #20232A;
    /* display: fixed; */
    /* justify-content: center; */
    /* align-items: center; */
}

/* Center the form on the page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

/* Style the form container */
form {
    background-color: #2C2F3F;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
}

/* Style the input fields */
form input[type="email"],
form input[type="password"] {
    background-color: #292C3B;
    border: 1px solid #393E4A;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;
    outline: none;
    transition: border-color 0.3s;
    width: 100%;
    box-sizing: border-box;
}

form input[type="email"]:focus,
form input[type="password"]:focus {
    border-color: #FF5349;
}

/* Placeholder text styling */
form input::placeholder {
    color: #b3b3b3;
}

/* Style the submit button */
.auth-btn {
    background-color: #FF5349;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s;
}

.auth-btn:hover {
    background-color: #FF766B;
}
